html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    scroll-snap-type: y mandatory;
}

:root {
    --background-color: rgb(227,227,227);
    --color: rgb(77,77,77);
    --shadow-color-1: rgb(220,220,220);
    --shadow-color-2: rgb(234,234,234);
    --button-background-color: #b5cec9;
    --button-color: #075a4b;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(32,32,32);
        --color: rgb(182,182,182);
        --shadow-color-1: rgb(27,27,27);
        --shadow-color-2: rgb(37,37,37);
        --button-background-color: #075a4b;
        --button-color: #b5cec9;
    }  
}


body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    margin: auto;
    max-width: 1080px;
    padding: 0px 20px 20px 20px;
}
h3, p, ul {
    margin: 5px 0px 5px 0px;
}
p, ul {
    text-align: justify;
}
ul {
    padding-left: inherit;
}
h1 {
    margin: 15px 0px 15px 0px;
}

#intro, #experience, #education, #skills, #capstone {
    scroll-snap-align: start;
}

.grid_intro, .grid_experience, .grid_education, .grid_skills, .grid_capstone {
    display: grid;
    grid-gap: 25px;
}

.container {
    background-color: var(--background-color);
    border-radius: 25px;
    box-shadow: 6px 6px 10px var(--shadow-color-1), -6px -6px 10px var(--shadow-color-2);
    padding: 15px 20px;
}

.grid_intro {
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;
    & .container:nth-child(1) {
        border-radius: 50%;
        box-shadow: inset 6px 6px 10px var(--shadow-color-1), inset -6px -6px 10px var(--shadow-color-2);
        grid-column: 1/2;
        grid-row: 1/3;
        max-height: 200px;
        max-width: 200px;
        padding: 20px;
        place-self: center;
        & img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }
    & .container:nth-child(2) {
        box-shadow: none;
        & h3 {
            margin-top: -18px;
            margin-bottom: -18px;
        }
    }
}
.grid_experience, .grid_capstone {
    grid-template-columns: 1fr;
}
.grid_education, .grid_skills {
    grid-template-columns: 1fr 1fr;
    & .container:nth-child(1) {
        grid-column: 1/-1;
    }
}

.badge_indent, .badge_pop {
    background-color: var(--background-color);
    border-radius: 25px;
    display: inline-block;
    color: var(--color);
    margin: 6px 3px;
    padding: 5px 12px;
}
.badge_indent {
    box-shadow: inset 4px 4px 4px var(--shadow-color-1), inset -4px -4px 4px var(--shadow-color-2);
    font-size: 11px;
}
.badge_pop {
    box-shadow: 4px 4px 4px var(--shadow-color-1), -4px -4px 4px var(--shadow-color-2);
    font-size: 14px;
}

.button_small, .button, .button_fab {
    background-color: var(--button-background-color);
    border: none;
    box-shadow: 4px 4px 4px var(--shadow-color-1), -4px -4px 4px var(--shadow-color-2);
    display: inline-block;
    color: var(--button-color);
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: var(--background-color);
        box-shadow: inset 4px 4px 4px var(--shadow-color-1), inset -4px -4px 4px var(--shadow-color-2);
    }
}
.button_small {
    border-radius: 25px;
    font-size: 12px;
    margin: 6px 3px;
    padding: 7px 16px;
}
.button {
    border-radius: 25px;
    font-size: 15px;
    margin: 6px 3px;
    padding: 7px 16px;
}

.button_fab {
    border-radius: 50%;
    bottom: 20px;  
    font-size: 15px;
    height: 60px;
    position: fixed;
    right: 20px;
    width: 60px;  
}
.material-symbols-outlined {
    font-size: 45px;
    margin-top: 3px;
    transition: transform 0.2s ease-in-out;
}
.fab_menu {
    bottom: 50px;
    list-style: none;
    opacity: 0;
    position: fixed;
    right: 15px;
    text-align: right;
    transition: 0.2s ease-in-out;
    visibility: hidden;
}
.button_fab:hover .material-symbols-outlined {
  transform: rotate(180deg);
}
.button_fab:hover + .fab_menu, .fab_menu:hover {
    opacity: 1;
    transform: translateY(-30px);
    visibility: visible;
}


@media (max-width: 720px) {
    .grid_intro, .grid_education, .grid_skills {
        grid-template-columns: 1fr;
    }
    .grid_intro .container:nth-child(2) {
        text-align: center;
        & h1 {
            margin-top: -30px;
        }
    }
}